@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cont-sec{
    background-color: black;
    height: 38vh;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}

.contact-head{
    color: white;
    font-size: 76px;
    font-family: serif;
}

.contact-section{
    min-height: 70vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-sec{
    width: 90%;
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.contact-para{
    line-height: 42px;
}

.contact-para1{
    font-size: 27px;
    height: 225px;
}

.contact-info{
    color: black;
    max-width: 710px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
  
.contact-form{
    max-width: 550px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}
  
  .contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: #1a1a1a;
    color: #626262;
    border: none;
    width: 551px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover{
    background: white;
    color: black;
}
  

/*css for alert messages*/

.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
  }
  
  .alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
  }